<footer style="page-break-after: always;" class='flex justify-center'>
  <div
    class='bg-blue-900 h-10 w-10 rounded-full flex justify-center items-center'
  >
    <span class='text-white font-bold'>{{page}}</span>
  </div>
</footer>